.sendInputAndMessageButton {
    width: 100%;
    height: 10vh;
    place-items: center;
    display: grid;
    justify-content: center;
    margin-top: 10px;
    grid-template-columns: repeat(2, max-content);
}