.mobileHeaderDeleteChatButton {
    button {
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: var(--text-color);
        background: var(--background-color);
        border: 1px solid var(--text-color);
        border-radius: 10px;
        transition: 0.4s;
    }
}
