.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 12.8%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-top: 2px solid var(--text-color);
    z-index: 999;
    p {
        font-size: 40px;
        transition: 0.4s;
        color: var(--text-color);
        margin: 0;
    }
    p:hover {
        color: var(--primary-color);
    }
}
