.changePasswordPasswordsInputs {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    input {
        margin-top: 30px;
        color: var(--text-color);
        background-color: var(--background-color);
        border: none;
        width: 300px;
        font-size: 25px;
        border-bottom: 2px solid var(--text-color);
    }
    input:focus {
        outline: none;
    }
}