.desktopInterfaceUserProfileSettingsChangeUsername {
    .inputAndButton {
        display: grid;
        text-align: center;
        p {
            font-size: 30px;
        }
        input {
            margin-top: 30px;
            color: var(--text-color);
            background-color: var(--background-color);
            border: none;
            width: 300px;
            font-size: 25px;
            border-bottom: 2px solid var(--text-color);
        }
        button {
            margin-top: 30px;
            width: 310px;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
            transition: 0.4s;
            color: var(--text-color);
            background-color: var(--background-color);
            border: 1px solid var(--text-color);
        }
        button:hover {
            color: var(--background-color);
            border: 1px solid var(--background-color);
            background-color: var(--primary-color);
        }
        input:focus {
            outline: none;
        }
    }
}
