body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 900;
    color: var(--text-color);
    a {
        color: var(--text-color);
        text-decoration: none;
    }
}
