.loginButton {
    margin-top: 10%;
    text-align: center;
    button {
        width: 280px;
        height: 40px;
        border-radius: 10px;
        color: var(--text-color);
        font-size: 20px;
        transition: 0.4s;
        border: 2px solid var(--text-color);
        background-color: var(--background-color);
    }
    button:hover {
        cursor: pointer;
        color: var(--background-color);
        background-color: var(--text-color);
    }
}