.userChatCart {
    .userChatCartSelect {
        width: 100%;
        height: 10vh;
        transition: 0.4s;
        text-align: center;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
        background-color: var(--primary-color);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        .searchUserIcon {
            width: 35%;
            height: 70%;
            transition: 0.4s;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
        p {
            font-size: 27px;
        }
    }
    .userChatCartSelect:hover {
        cursor: pointer;
        background-color: var(--primary-color);
    }
    .userChatCartDefault {
        width: 100%;
        height: 10vh;
        transition: 0.4s;
        text-align: center;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        .searchUserIcon {
            width: 35%;
            height: 70%;
            transition: 0.4s;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
        p {
            font-size: 27px;
        }
    }
    .userChatCartDefault:hover {
        cursor: pointer;
        background-color: var(--primary-color);
    }
}
