.messageUserIcon {
    margin-left: 20px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .noIcon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 25px;
            margin: 0;
        }
    }
}

