.mobileMenuButtonLinToSettings {
    width: 100%;
    height: 10vh;
    display: grid;
    place-items: center;
    border-bottom: 2px solid var(--text-color);
    p {
        color: var(--text-color);
        font-size: 30px;
    }
}
