.desktopInterfaceMessagesList {
    height: 75.8vh;
    border-bottom: 2px solid var(--text-color);
    overflow-y: auto;
}
h
@media(min-width: 2560px) {
    .desktopInterfaceMessagesList {
        height: 80.2vh;
        border-bottom: 2px solid var(--text-color);
        overflow-y: auto;
    }
}
