.desktopInterfaceDeleteAccountButton {
    text-align: center;
    button {
        width: 300px;
        height: 40px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        transition: 0.4s;
        color: var(--text-color);
        background-color: #ff0000;
    }
    button:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 100px 11px rgba(229, 45, 45, 0.83);
        -moz-box-shadow: 0px 0px 100px 11px rgba(229, 45, 45, 0.83);
        box-shadow: 0px 0px 100px 11px rgba(229, 45, 45, 0.83);
    }
}